<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Chat-heads</title>
  <link rel="stylesheet" href="/stylesheets/chat-heads.css">
  <link rel="stylesheet" href="/stylesheets/signin.css">
</head>
<body>

<div class="chat-head-container"></div>

<script src="/socket.io/socket.io.js"></script>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- <script src="/javascripts/scale.fix.js"></script> -->
<script src="/javascripts/interact.js"></script>
<script src="/javascripts/chat-heads.js"></script>
<script src="/javascripts/main.js"></script>

</body>
</html>
